@import url(./normalise.css);
@import url(root.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/figtree-v6-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/figtree-v6-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/figtree-v6-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/figtree-v6-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/figtree-v6-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/figtree-v6-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/figtree-v6-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: flex;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--sariq);
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  -webkit-box-shadow: 11px 10px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 11px 10px 0px 1px rgba(0,0,0,1);
  box-shadow: 11px 10px 0px 1px rgba(0,0,0,1);
  border-radius: 10px;
  margin-top: 21.8rem;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 21rem;
}
.card__image {
  width: 336px;
  height: 200px;
}
.card__text {
  background-color: var(--sariq);
  padding: 4px 12px;
  margin-top: 28px;
  margin-bottom: 16px;
  border-radius: 5px;
  display: inline-block;
  font-family: Figtree;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.card__title {
  margin-bottom: 12px;
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.card__subtitle {
  color: var(--qora);
  margin-bottom: 1.2rem;
  font-family: Figtree;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.card__subtitle:hover{
  color: var(--sariq);
  transition: 1s ease;
}

.card__decription {
  width: 336px; 
  font-family: Figtree;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.card__pic {
  background-size: 100%;
}
.card__subject {
}

.card-df{
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}